.contentContainer {
  max-width: 90% !important;
  margin-top: 2rem;
}

.cardContent {
  inline-size: 195px;
  overflow-wrap: break-word;
  &:last-of-type{
    padding: .5rem;
  }
}

.paperContainer {
  max-width: 100%;
}
