.navContainer {
  max-width: 90% !important;
  text-align: right;
}

.contentContainer {
  max-width: 90% !important;
  margin-top: 2rem;
}

.cardContent {
  &:last-of-type{
    padding: .5rem;
  }
}

.paperContainer {
  max-width: 100%;
}
